@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background:green;
    min-height: 100vh;
    min-width: 100vh;
}
#cartaPrincipal{
    height: 400px;
    width: 300px;
    border-radius: 3%;
}
#imagen1_Icon{
    color: black;
    font-size: 70px;
    margin-left: 15px;
}
#imagen2_Icon{
    color:black;
    font-size: 70px;
    margin-right: 15px;
    rotate: 180deg;
}
#number{
    color: black;
    font-size: 120px;
}
#button{
  bottom: 10px;
  right: 10px;
    color: black;
}